<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script th:replace="fragments/header :: headerElement">
// This stuff will be replaced by our fragment
</script>
<title>Features</title>
</head>
<body>

<div th:replace="fragments/header :: navbar"></div>
<div class="container">

	<div class="card"  style="margin-top: 1.56em;">
				<div class="card-header">
						<div class="row" >
							<div class="col-8">
								<h2>Feature</h2>
							</div>
							<div class="col-4">
								<span style="font-size: 1.2em;"class="badge badge-secondary float-right" th:text="${feature.status}">TEST</span>
							</div>
						</div>
		
				</div>
			<div class="card-body">
					<form action="" method="POST">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
								<input type="hidden" th:field="${feature.id}">
								<input type="hidden" th:field="${feature.product}">
								<input type="hidden" th:field="${feature.status}">

						<div class="form-group row">
						<!--  the lg is for large screen, there are others the total columns used for the row schould be 12
						so for a large screen it will use a column size of 2 for the label and 10 for the input
						the col-12 become some type of default when not in large screen mode (lg) and it works out how to arrange things
						so it will place the label above the input on a realy small screen.
						-->
						<label for="title" class="col-12 col-lg-2 col-form-label" >Title:</label>
						<div class="col-12 col-lg-10"> 
						<input type="text" required class="form-control" th:field="${feature.title}" th:disabled="${user.id == feature.user.id ? 'false' : 'true'}"/>
						</div>
						</div>
						
						<div class="form-group row">
						<label for="description" class="col-12 col-lg-2 col-form-label">Description:</label> 
						<div class="col-12 col-lg-10">
						<textarea required  class="form-control" th:field="${feature.description}" th:disabled="${user.id == feature.user.id ? 'false' : 'true'}"></textarea>
						</div>
						</div>
						
		
						<button id="cancel" class="btn btn-secondary btn-lg">Back</button>
						<span th:if="${user.id == feature.user.id}">
						<button type="submit" class="btn btn-primary float-right btn-lg" th:disabled="${user.id == feature.user.id ? 'false' : 'true'}">Submit Feature</button>
						</span>
					</form>
					
				<div class="row"  style="margin-top: 1.56em;">
							<div class="col-8">
								<h2>Feature Comments</h2>
							</div>
						</div>
						
			<form th:action="@{/products/{productId}/features/{featureId}/comments(productId=${feature.product.id},featureId=${feature.id})}" method="POST">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<!-- 				for some reason if I set the below the comment.id gets populated  -->
<!-- 				and the message overwrites the previous message. very strange.  -->
<!-- 				need to investigate why this might happen. Its like the comment id gets set to the feature ID-->
			
<!-- 				<input type="hidden" th:field="${feature.id}"> -->
<!-- 				<input type="hidden" th:field="${feature.product}"> -->
<!-- 				<input type="hidden" th:field="${feature.status}"> -->
<!-- 				<input type="hidden" th:field="${feature.comments}"> -->
				<input type="hidden" name="parentcomment">
			<div class="card-body">
					<div class="form-group" style="margin: 1em 0em">
						<label for="addnewcomment">leave comment below</label>
						<textarea class="form-control" id="addnewcomment" th:field="${newcomment.text}" th:disabled="${user.id == feature.user.id ? 'false' : 'true'}"></textarea>
					</div>
				</div>
				<span th:if="${user.id == feature.user.id}">
				<button type="submit" class="btn btn-primary float-right btn-lg" th:disabled="${user.id == feature.user.id ? 'false' : 'true'}">Submit/Update Comment</button>
				</span>		
			</form>
			
<!--  new starts here -->
				<div class="card-body">
					<div th:each="nextcomment : ${comments}" style="margin: 1em 0em">
					<div class="form-group row">
						<div class="col-12 col-lg-10">
							<textarea class="form-control" th:text="|${nextcomment.user.username} -- Posted: ${nextcomment.createDate}: ${nextcomment.text}|" th:disabled="${user.id == feature.user.id ? 'false' : 'true'}">comment</textarea>
							 <span>
                        <a class="float-right" role="button" data-toggle="collapse" th:href="|#comment${nextcomment.id}|" aria-expanded="false" aria-controls="collapseExample">reply</a>
                      </span>
              <div class="collapse" th:id="|comment${nextcomment.id}|">
               
               <form th:action="@{/products/{productId}/features/{featureId}/comments(productId=${feature.product.id},featureId=${feature.id})}" method="POST">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<!--  				<input type="hidden" th:field="${feature.id}"> -->
<!--  				<input type="hidden" th:field="${feature.product}"> -->
<!--  				<input type="hidden" th:field="${feature.status}"> -->
<!-- 					<input type="hidden" th:field="${newcomment.id}"> -->
				<input type="hidden" name="parentcomment" th:value="${nextcomment.id}">
                  <div class="form-group" style="margin-left: 2em;">
                    <label th:for="|comment${nextcomment.id}|">Your Comment</label>
                    <textarea th:id="|comment${nextcomment.id}|" name="comment" th:field="${newcomment.text}" class="form-control" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary float-right btn-lg">Submit</button>
                </form>
              </div>
						</div>
						</div>
					
					
<!-- 					//Now we check if there is a level 1 comment -->
		<div th:if="${nextcomment.childcomments != null}" th:each="subcomment : ${nextcomment.childcomments}">
		<div class="form-group row">
					
						<div class="col-12 col-lg-10" style="margin-left: 2em;">
							<textarea class="form-control" th:text="|${subcomment.user.username} -- Posted: ${subcomment.createDate}: ${subcomment.text}|" th:disabled="${user.id == feature.user.id ? 'false' : 'true'}">comment</textarea>
							 <span>
                        <a class="float-right" role="button" data-toggle="collapse" th:href="|#comment${subcomment.id}|" aria-expanded="false" aria-controls="collapseExample">reply</a>
                      </span>
              <div class="collapse" th:id="|comment${subcomment.id}|">
               
               <form th:action="@{/products/{productId}/features/{featureId}/comments(productId=${feature.product.id},featureId=${feature.id})}" method="POST">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<input type="hidden" name="parentcomment" th:value="${subcomment.id}">
                  <div class="form-group" style="margin-left: 2em;">
                    <label th:for="|comment${subcomment.id}|">Your Comment</label>
                    <textarea th:id="|comment${subcomment.id}|" name="comment" th:field="${newcomment.text}" class="form-control" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary float-right btn-lg">Submit</button>
                </form>
              </div>
						</div>
	</div>
	<!-- 				second level check end -->
						
<!-- 						Start of level 3 --> 
<div th:if="${subcomment.childcomments != null}" class="form-group row" th:each="subcomment2 : ${subcomment.childcomments}" style="margin: 1em 0em">
					
						<div class="col-12 col-lg-10" style="margin-left: 4em;">
							<textarea class="form-control" th:text="|${subcomment2.user.username} -- Posted: ${subcomment2.createDate}: ${subcomment2.text} from child loop 2|" th:disabled="${user.id == feature.user.id ? 'false' : 'true'}">comment</textarea>
<!--  No reply at this level --> 
						</div>
						
					</div> 
<!-- 					end of level 3 -->
					

	</div>


		</div>
		 
						
					
		</div>
<!-- new ends here -->
	</div>
</div>
</div>
</body>
</html>